{% extends 'my_base.html' %}
{% load static  %}
{% block content %}
    <br>
    <!--
<div style="padding:200px" class="container">
{% if sub_categories %}
    <h3>Sub Categories</h3>
    {% for i in sub_categories %}
        <a href="{% url 'core:category' hierarchy=i.slug %}"> {{ i.name }} </a>
    {% endfor %}
{% endif %}

</div>-->

    <div style="padding-top:100px" class="container">

        <!-- Grid row -->
        <div class="row pt-4">

            <!-- Content -->
            <div class="col-lg-12">
                <!--Section: Products-->
                <section>

                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-12">

                            <!-- Grid row -->
                            <div class="row">

                                {% if object_list %}
                                    {% for catalog in object_list %}
                                        <!--Grid column-->
                                        <div class="col-lg-3 col-md-12 mb-3">

                                            <!--Card-->
                                            <div class="card card-ecommerce hoverable">

                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <div >
                                                        {% if catalog.image %}
                                                            <img style="width:100%;height:300px;"  src="{{ catalog.image.url }}" class="img-fluid img-thumbnail" alt="{{ catalog.title }}">
                                                        {% else %}
                                                            <img src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132484366.jpg" class="img-fluid img-thumbnail" alt="{{ catalog.title }}">
                                                        {% endif %}
                                                    </div>
                                                    <a href="{% url 'core:show-catalog' pk=catalog.pk %}">
                                                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                                    </a>
                                                </div>
                                                <!--Card image-->

                                                <!--Card content-->
                                                <div class="card-body">
                                                    <!--Category & Title-->

                                                    <h5 class="card-title mb-1"><strong><a
                                                            href="{% url 'core:show-catalog' pk=catalog.pk %}"
                                                            class="dark-grey-text text-center">{{ catalog.title }}</a></strong>
                                                    </h5>
                                                    {#                                                        <form action="{% url 'core:show-catalog' pk=catalog.pk  %}">#}
                                                    {##}
                                                    {#                                                            <i class="fas fa-arrow-circle-down" ></i>#}
                                                    {#                                                        </form><i class="fas fa-folder-open"></i>#}
                                                    <a class="fas fa-folder-open"
                                                       href="{% url 'core:show-catalog' pk=catalog.pk %}"> Aç </a>
                                                    <a style="margin-left: 25px;" class="fas fa-arrow-circle-down" href="{{ catalog.pdf.url }}"
                                                       download> İndir </a>

                                                </div>
                                                <!--Card content-->

                                            </div>
                                            <!--Card-->

                                        </div>
                                        <!--Grid column-->

                                        {% if forloop.counter|divisibleby:4 %}
                                            </div>
                                            <div class="row">
                                        {% endif %}
                                    {% endfor %}


                                </div>
                                    <!--Grid row-->



                                    </div>

                                    </div>
                                    <!--Grid row-->

                                    </section>
                                    <!--Section: Products-->
                                    </div>
                                {% endif %}
        </div>
{% endblock %}